{{- $email := promptStringOnce . "email" "User Email Address" -}}
{{- $name := promptStringOnce . "name" "User Name" -}}
{{- $editor := promptStringOnce . "editor" "Default Editor" -}}
{{- $pager := promptStringOnce . "pager" "Default Pager" -}}
{{- $gitMailmap := promptStringOnce . "gitMailmap" "Git Mailmap File" -}}
{{- $gitSigningKey := promptStringOnce . "gitSigningKey" "Git Signing Key" -}}

[data]
{{- if eq .chezmoi.os "linux" }}
    # Linux
{{-   $lockerChoices := list "light-locker" "gdmflexiserver" "none" }}
{{-   $locker := promptChoiceOnce . "locker" "Screen Locker" $lockerChoices }}
{{-   if eq .chezmoi.osRelease.id "ubuntu" -}}
{{-     $redshiftLatitude := promptStringOnce . "redshiftLatitude" "Redshift Latitude" }}
{{-     $redshiftLongitude := promptStringOnce . "redshiftLongitude" "Redshift Longitude" }}
{{-     $tmuxOverrideShell := promptBoolOnce . "tmuxOverrideShell" "Override Tmux Shell" }}
    redshiftLatitude = {{ $redshiftLatitude | quote }}
    redshiftLongitude = {{ $redshiftLongitude | quote }}
    tmuxOverrideShell = {{ $tmuxOverrideShell | quote }}
{{-   end }}
    locker = {{ $locker | quote }}
{{- end }}

    # User
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    editor = {{ $editor | quote }}
    pager = {{ $pager | quote }}

    # Git
    gitMailmap = {{ $gitMailmap | quote }}
    gitSigningKey = {{ $gitSigningKey | quote }}
