[user]
    email = virtualtam@flibidi.net
    name = VirtualTam
[alias]
    br = branch
    bv = branch -vv
    co = checkout
    cob = checkout -b
    com = checkout master
    ca = commit -a --amend
    ci = commit
    cs = commit -a -s
    d = diff
    dst = diff --stat
    f = fetch
    fu = fetch upstream
    l = log --oneline
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset%C(bold blue)<%an>%Creset' --color
    lh = log --graph --pretty=format:'%C(yellow)%H%Creset %Cgreen%cd%Creset %C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --date=iso --color
    ll = log --stat --pretty=format:'%C(yellow)%h %Cgreen%cr%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
    p = pull
    pum = pull upstream master
    rem = "!f(){ git checkout master && git pull && git checkout ${1} && git rebase -i master; };f"
    ri = rebase -i
    rim = rebase -i master
    rt = remote
    rv = remote -v
    sh = show
    shst = show --stat
    s = status --short --branch
    st = status
    sti = status --ignored
    v = review
    vd = review -d
    vl = review -l
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = simple
