! Xresources file
!- Fonts
URxvt.font: xft:monospace:size=11

!- They see me scrollin', they hatin'
URxvt*.scrollstyle: plain
URxvt*scrollTtyKeypress: true

!- Extensions
URxvt*.perl-ext-common:	     default,url-select,tabbed

!- URL
URxvt*.url-select.launcher:  /usr/bin/firefox -new-tab
URxvt*.keysym.M-u:    perl:url-select:select_next
URxvt*.matcher.button:	    1
URxvt*.url-select.underline: true
URxvt*.colorUL: #4682B4

!- Tabs
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0

!- Term colors
urxvt*foreground: #f2f2f2
urxvt*background: #101010

!- Normal colors
!
! color0    black
urxvt*color0:    #2e3436
! color1    red
urxvt*color1:	 #e9361d
! color2    green
urxvt*color2:    #b6e77d
! color3    yellow
urxvt*color3:    #e8e430
! color4    blue
urxvt*color4:    #3465a4
! color5    purple
urxvt*color5:    #ea96eb
! color6    cyan
urxvt*color6:    #06989a
! color7    white
urxvt*color7:    #f2f2f2

!- Light colors
!
! color8    black
urxvt*color8:    #747474
! color9    red
urxvt*color9:    #ef2b31
! color10   green
urxvt*color10:   #6dd738
! color11   yellow
urxvt*color11:   #ffc94a
! color12   blue
urxvt*color12:   #729fcf
! color13   purple
urxvt*color13:   #ae81ad
! color14   cyan
urxvt*color14:   #d7d9fc
! color15   white
urxvt*color15:   #e2e2e2

