# Disable bell
xset -b

# Disable screensaver
xset s off

# Disable DPMS
xset -dpms

{{ if eq .locker "light-locker" -}}
# Enable LightDM screen locker
light-locker &
{{- end }}

# Start notification handler
dunst &

# Set desktop background
~/.fehbg

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
# Start Redshift
redshift-gtk &

# Start NetworkManager applet
nm-applet &

# Start volume control applet
pasystray &
{{- end }}
