{{- if .tmuxOverrideShell -}}
# Override default shell
set -g default-command /usr/bin/fish
set -g default-shell /usr/bin/fish

{{ end -}}

# Enable RGB colour
set -g default-terminal 'tmux-256color'
set -ga terminal-overrides ',*256col*:Tc,alacritty:RGB'

# Keys
set -s escape-time 0
set-option -g repeat-time 0

# Mouse support
#set -g mouse on

# Status bar
set -g status-style bg=black,fg=yellow

# Windows
setw -g window-status-style         fg=brightblue,bg=default
setw -g window-status-current-style fg=yellow,bg=default

setw -g automatic-rename on
set  -g set-titles       on

# Open new windows and panes in the current working directory
bind '"' split-window -c "#{pane_current_path}"
bind %   split-window -h -c "#{pane_current_path}"
bind c   new-window   -c "#{pane_current_path}"

# Panes
set-option -g pane-border-style        fg=blue
set-option -g pane-active-border-style fg=yellow

# Switch windows using Alt-{Left,Right,h,l} and panes using Alt-Tab
bind -n M-Left  previous-window
bind -n M-Right next-window
bind -n M-h     previous-window
bind -n M-l     next-window
bind -n M-Tab   select-pane -t :.+

# Create a new window with Alt-{Down,j}
bind -n M-Down new-window
bind -n M-j    new-window
