@import "nord.css";

* {
    font-family: Hack;
    font-size: 14px;
    font-weight: 600;

    margin: 0;
    padding: 0;

    min-height: 0;
}

window#waybar {
    background-color: @nord0;
    color: @nord4;
}

window#waybar.empty #window {
    /* When there are no windows */
    background: transparent;
}

#window {
    border-radius: 5px;
    padding: 0 8px;
    background-color: @nord1;
    color: @nord4;
}

#workspaces button {
    margin-left: 5px;
    background-color: @nord1;
    color: @nord4;
}

#workspaces button:hover {
    background-color: @nord3;
    color: @nord13;
}

#workspaces button.visible {
    background-color: @nord3;
    color: @nord6;
}

#pulseaudio {
    padding: 0 4px;
    color: @nord7;
}

#language {
    padding: 0 4px;
    color: @nord10;
}

#clock {
    padding: 0 4px;
}

#tray {
    background-color: @nord1;
    border-radius: 5px;
    padding: 0 4px;
}
